

div {
    background-color: rgb(241, 1, 1);
    max-width: 800px;
height: auto;
    border: 15px solid rgb(99, 29, 228);
    padding: 50px;
  margin: 20px;

  color:rgb(66, 235, 44);
}



.paralelo {
    background-color: rgb(15, 201, 15);
    max-width: 400px;
height: auto;

    border: 15px solid rgb(223, 149, 12);
    padding: 50px;
  margin: 20px;
  color:#e5ff00;        
  
}
